html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.nextui-navbar-container {
  max-width: 100% !important;
  background: #bfbab7 !important;
}

.nextui-dropdown-menu {
  max-width: none !important;
}

.nextui-input-main-container {
  display: flex !important;
}

.nextui-input-main-container {
  z-index: 0;
}

.nextui-checkbox-label {
  z-index: 0 !important;
}

.nextui-dropdown-button {
  z-index: 0;
}

.modal-mail {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.nextui-button {
  z-index: 0;
}

form {
  min-width: 50%;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 1279px) {
  .photo2 {
    display: none;
  }
}

@media (min-width: 2000px) {
  .UHtext1 {
    font-size: 40px;
  }

  .UHtext2 {
    font-size: 40px;
  }

  .UHtext3 {
    font-size: 40px;
  }
}


@media (max-width: 959px) {
  .nextui-c-dfbgCO {
    flex-direction: column;
  }

  .containerLeftServices {
    flex-direction: column-reverse;
  }

  .nextui-c-kxDYOz {
    padding-right: 4em !important;
    padding-left: 4em !important;
  }

  .imgunderhome {
    padding-right: 2em !important;
  }

  #UnderHome {
    padding-left: 0 !important;

  }

  .nextui-c-cMTZRp-ijmHnCN-css {
    border-left: 0px solid black !important;
  }
}

@media (max-width: 550px) {
  .serviceDiv {
    padding: 1rem !important;
  }

  .nextui-c-kxDYOz {
    padding-right: 1em !important;
    padding-left: 1em !important;
  }

  .nextui-c-jsUxlp {
    padding-left: 1em !important;
    width: 70% !important;
  }

  .nextui-c-kLPjGB {
    padding-right: 1em !important;
    width: 30% !important;
  }

  .footertextmail {
    font-size: small !important;
  }

}

@media (max-width: 959px) and (min-height: 750px) {
  .imageGetQuote {
    flex-direction: row !important;
  }

  .nextui-c-jsUxlp {
    padding-left: 1em !important;
    width: 70% !important;
  }

  .nextui-c-kLPjGB {
    padding-right: 1em !important;
    width: 30% !important;
  }

  .footertextmail {
    font-size: x-large;
  }
}

@media (max-width: 750px) {
  .imageGetQuote {
    flex-direction: column !important;
  }

  .footertextmail {
    font-size: large;
  }
}